@model IEnumerable<TheBugTracker.Models.Project>
@using TheBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "My Projects";
    BTUser btUser = await UserManager.GetUserAsync(User); // get all data associated with the logged-in user
}

<div class="row my-4 d-flex justify-content-center">
    <div class="col-sm-10">
        <div class="card mb-4">
            <div class="card-header">
                <h2>My Projects</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="overflow-y:auto;height:600px;">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Archived</th>
                                <th>Priority</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id" style="color:black"><strong>@item.Name</strong></a></td>
                                    <td><span style="font-size:small">@item.StartDate.ToString("MM.dd.yyyy")</span></td>
                                    <td><span style="font-size:small">@item.EndDate.ToString("MM.dd.yyyy")</span></td>
                                    <td><span class="">@(item.Archived ? "Yes" : "No")</span></td>
                                    <td><span class="badge bg-dark">@item.ProjectPriority?.Name</span></td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="fs-5 bi-justify"></i></a>

                                        @{
                                            bool isProjectPM = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == btUser.Id;
                                        }

                                        @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                                        {
                                            <a class="btn btn-sm btn-outline-secondary ms-1" asp-action="Edit" asp-controller="Projects" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fs-5 bi-pencil"></i></a>

                                            @if (item.Archived)
                                            {
                                                <a class="btn btn-sm btn-outline-success ms-1" asp-action="Restore" asp-controller="Projects" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Restore"><i class="fs-5 bi-file-earmark-plus"></i></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-sm btn-outline-danger ms-1" asp-action="Archive" asp-controller="Projects" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Archive"><i class="fs-5 bi-archive"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>